.grid-container{
    height: 250px;
    width: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}
.container {
    grid-column: 1/6;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 6fr;
}

.a{
    margin: 10px;
    background-color: aqua;
    grid-row: 1/1;
    grid-column: 1/4;
}
.b{
    margin: 10px;
    background-color: bisque;
    grid-column: 4/4;
    grid-row: 1/3;
}
.c{
    margin: 10px;
    background-color: rgb(122, 62, 19);
}
.d{
    margin: 10px;
    background-color: coral;
}
.e{
    margin: 10px;
    background-color: gray;
    grid-column: 1/4;
    grid-row: 2/2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.f{
    margin: 10px;
    background-color: blueviolet;
    grid-column: 1/1;
}
.g{
    margin: 10px;
    background-color: violet;
    grid-column: 2/2;
}
.h{
    background-color: brown;
}