body{
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main{
    
    border: 2px solid crimson;
    width: 600px;
    height: 200px;
    display: flex;
    text-align: center;
}

#main div {
    flex-basis: 100px;
    
    flex-direction: row;
}

#main div
{

    flex-basis: 200px;
}

#main div div{

    height: 50%;
}