.container{
    width: 400px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.red{
    background-color: red;
    grid-row: 1/3;
}
.blue{
    background-color: blue;
    grid-row: 1/1;
}
.yellow{
    background-color: yellow;
    grid-row: 2/2;
}
.green{
    background-color: green;
    grid-row: 1/3;
}
