body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


header{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    height: 100px;
}
body article{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
}

#a{
    background-color: lightblue;
}
#b{
    background-color: lightgoldenrodyellow;
}
#c{
    background-color: lightpink;
}

footer{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    height: 50px;
}

@media screen and (max-width: 600px)
{
    body article{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #a{
        grid-row: 1/1;
    }
    #b{
        grid-row: 2/3;
    }
    #c{
        grid-column: 1/4;
    }
}