*{
    box-sizing: border-box;
}

body{
    background-color: rgb(173, 206, 218);
}

#container-1{
    display: flex;
    background-color: black;
    margin: 5px; 
}
#box1
{
    flex:1;
}
#box2
{
    flex:1;
}
#box3
{
    flex:2;
}

#container-2{
    display: flex;
    background-color: black;
    margin: 5px;
}
#box4
{
    flex:3;
    order:2;
    align-self: center;
}
#box5
{
    flex:1;

    order:3;
}
#box6
{
    flex:1;
    order:1;
}

#container-3{
    display: flex;
    background-color: black;
    margin: 5px;
    justify-content: space-between;

    
}
#box7
{
    flex-basis: 25%;
}
#box8
{
    flex-basis: 25%;
}
#box9
{
    flex-basis: 25%;
}

#container-1 div, #container-2 div, #container-3 div{
    background-color: cornflowerblue;
    border: solid 2px black;
    padding: 5px;
}